* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar{
    width: 2vh;
    background: linear-gradient(250deg, rgb(41, 128, 185), rgb(109, 213, 250), rgb(255, 255, 255));
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #a7ff83;
    border-radius: 12px;
    border: 2px solid #fff;
    height: 14vh;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #92e671;

}

.item1 {
    padding: 20px 0px;
}

.head-color {
    color: #02C39A;
    cursor: pointer;
    padding: 6px 15px;
    margin-left: 72px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

.fnt-size>li {
    font-size: 15px;
    font-weight: bold;
}

.nav>li{
    margin: 0px 20px;
    cursor: pointer;
}

.btn {
    max-width: 150px;
    height: 35px;
    text-align: center;
    padding: 6px 15px;
    border-radius: 5px;
    transition-delay: 0.5s;
    transition-duration: 1s;
}

.btn:hover {
    color: #fff;
    background-color: #02C39A;
    border-radius: 15px;
}

.btn-sign {
    max-width: 150px;
    height: 35px;
    text-align: center;
    padding: 6px 15px;
    border-radius: 5px;
    transition-delay: 0.5s;
    transition-duration: 1s;
    border: 1px solid #02C39A;
    background-color: #02C39A;
    color: #fff;
    border-radius: 15px;
}

.btn-sign:hover {
    background-color: #019a79;
    color: #ebebeb;
}

.btn-log {
    max-width: 150px;
    height: 35px;
    text-align: center;
    padding: 6px 15px;
    border-radius: 5px;
    transition-delay: 0.5s;
    transition-duration: 1s;
    border: 1px solid #02C39A;
    background-color: #02C39A;
    color: #fff;
    border-radius: 15px;
}

.btn-log:hover {
    background-color: #019a79;
    color: #ebebeb;
}

.content1 {
    display: flex;
    position: relative;
    min-width: 100%;
    height: 100%;
    margin-top: 33px;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
}

.text {
    font-size: 40px;

    font-weight: bold;
    width: 500px;
    height: 200px;
}

.text-color {
    color: #02C39A;
}

.content-text {
    font-size: 17px;
    color: #c8c8c8;
    font-weight: 400;
    margin-top: 20px;
}

.text-img>img {
    width: 483px;
    height: 243px;
}

.nav-travel {
    position: absolute;
    display: flex;
    background-color: #fff;
    top: 256px;
    padding: 20px 10px;
    border-radius: 51px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-travel>div {
    margin: 0px 15px;
    width: 100px;
}

.nav-travel>div>p {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.input-nav {
    border: none;
    width: 100%;
    height: 20px;
    margin-top: 6px;
    outline: none;
}

.from {
    margin-left: 10px;
}

.icon-nav {
    padding-right: 10px;
    color: #02C39A;
}

.search-nav{
    width: 40px !important;
    height: 40px;
    cursor: pointer;
    padding: 0 !important; 
    background-color: #02C39A;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 1s;
}

.search-nav:hover {
    color: #02C39A;
    background-color: #fff;
}

.card-travel {
    flex-direction: column;
    min-width: 100%;
    height: 100%;
    margin-top: 121px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.card-head {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.world-icon {
    margin-left: 16px;
    border: 1px solid #c8c8c8;
    padding: 14px 15px;
    border-radius: 27px;
    transition-duration: 1s;
    cursor: pointer;
}

.world-icon:hover {
    background-color: #ebebeb;
}

.world-icon>p {
    font-size: 14px;
    font-weight: bold;
}

.world-icon>p>.fa-chevron-down {
    margin-left: 5px;
}

.card-head-text {
    margin-left: 204px;
    margin-right: 36px;
}

.card-head-text>p {
    font-size: 40px;
    font-weight: bold;
}

.card-content {
    color: #c8c8c8;
    font-size: 13px;
}


.card-button>i {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 50%;
    padding: 10px 10px;
    margin: 0px 10px;
    transition-duration: 1s;
}

.card-button {
    cursor: pointer;
    margin-right: 204px;
}

.card-button>i:hover {
    background-color: #ebebeb;
    color: #fff;
}

.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-top: 20px;
}

.card-item1 {
    width: 286px;
    height: 100%;
    border: 1px solid #ebebeb;
    border-radius: 20px;

}

.card-item1>img {
    width: 100%;
    height: 280px;
    cursor: pointer;
}

.card-container-text {
    display: flex;
    margin-top: 12px;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.card-flag {
    display: flex;
}

.card-city>p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.card-flag>p>img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.city-name {
    font-size: 14px;
    margin-left: 10px;
}

.card-dollar {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}

.people {
    font-size: 14px;
}

.card-duration {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.view-button {
    width: 114px;
    height: 51px;
    border: 1px solid #02C39A;
    display: block;
    color: #02C39A;
    margin: auto;
    text-align: center;
    padding: 10px 10px;
    padding-top: 17px;
    border-radius: 50px;
    margin-top: 20px;
    transition-duration: 1s;
    cursor: pointer;
}

.view-button:hover {
    background-color: #02C39A;
    color: #fff;
}

.popular-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.popular-head {
    font-size: 20px;
    font-weight: bolder;
    padding: 20px 50px;
}

.popular-country1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    margin: 10px 0px;
    padding: 0px 130px;
}

.barcelona1 {
    width: 176px;
    height: 100%;
    border: 1px solid #f6f6f6;
    padding: 26px 20px;
    padding-right: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 1s;
}

.barcelona1>img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.barcelona1>span {
    font-size: 10px;
}

.popular-city-name {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
}


/* country2 */

.popular-country2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    margin: 10px 0px;
    padding: 0px 130px;
}

.newyork2 {
    width: 176px;
    height: 100%;
    border: 1px solid #f6f6f6;
    padding: 26px 20px;
    padding-right: 60px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition-duration: 1s;
}

.newyork2:hover{
    background-color: #02C39A;
    color: #fff;
}

.barcelona1:hover{
    background-color: #02C39A;
    color: #fff;
}

.newyork2>img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.newyork2>span {
    font-size: 10px;
}

.popular-city-name {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.footer-text {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.footer-text>p{
    color: #02C39A;
    cursor: pointer;
    /* padding: 6px 15px; */
    /* margin-left: 72px; */
    font-weight: bold;
    padding-right: 10px;
}

.footer-text>span {
    font-size: 10px;
    color: #000;
    margin-left: 20px;
}

.instergram {
    cursor: pointer;
}

.terms {
    font-size: 10px;
    color: #000;
}